<!DOCTYPE html>
<!--"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-web-security --user-data-dir="C:/Users/Srikar/Documents/MyProjects/RubiksCubeSolver"-->
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubik's Cube Viewer</title>
    <style> body {padding: 0; margin: 0;} </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src={{url_for('static', filename='p5/p5.sound.min.js')}}></script>
    <script type="text/javascript" src={{url_for('static', filename='p5/p5.dom.min.js')}}></script>
    <script type="text/javascript" src={{url_for('static', filename='p5/p5.min.js')}}></script>
    <script src={{url_for('static', filename='client.js')}}></script>
    <script src={{url_for('static', filename='helper.js')}}></script>
    <script src={{url_for('static', filename='sketch.js')}}></script>
  </head>
  <body>
  </body>
</html>
